PROJECT_NAME='core_cocreation_backend'

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nilva_sport
DB_USER=postgres
DB_PASSWORD=4444

# Django
DEBUG=True
LANGUAGE_CODE=fa
ALLOWED_HOSTS='*'

# Firebase
FIREBASE_API_KEY=

# Redis
REDIS_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_MODE=gitlab_ci
SENTRY_URL=

# Storage
AWS_URL=fake
AWS_ACCESS_KEY_ID=s
AWS_SECRET_ACCESS_KEY=s
AWS_BUCKET_NAME=test

# cryptographic tokens
SECRET_API_KEY_TOKEN=
ENCRYPTION_KEY=

CLIENT_URL=

CACHE_PREFIX=core-donation-backend

LOCAL_DB_ENABLED=True
SIGN_UP_TOKEN_EXPIRE_TIME=7200

APP_BASE_NAME=core_cocreation_backend
SOCKS5_PROXY=socks5://172.16.56.3:1082

KAFKA_HOST=localhost:9092

SMS_SERVER_URL=
SMS_SERVER_USERNAME=
SMS_SERVER_DOMAIN=
SMS_SERVER_PASSWORD=
SMS_SENDER_NUMBER=

# Celery
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

# Boto3
AWS_BOTO_S3_ACCESS_KEY=
AWS_BOTO_S3_SECRET_ACCESS_KEY=
AWS_BOTO_S3_DEFAULT_REGION=

ESP_DBSCAN=10,10,10,5e-05,0.001,0.01,0.02,0.05,0.075,0.1,0.25,0.75,1,5,10,25,50,100,250,500,1000

SINCH_PROJECT_ID=
SINCH_ACCESS_KEY_ID=
SINCH_SECRET_KEY=
SINCH_NUMBER=
SINCH_BODY_MESSAGE=
